<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Highlights of my professional experience</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004-2008</h4>
                                    <h4 class="subheading">Graduation - UnB</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated in Advertising in 2008 from the University of Brasília (UnB).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2017</h4>
                                    <h4 class="subheading">Up to Strategy Manager at Isobar</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After 8 years I became manager at one of the most brazilian relevant digital agencies</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">Data Manager: career change.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In my first opportunity ahead a data team I had a huge challenge: redesign de Isobar's BI team.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2021</h4>
                                    <h4 class="subheading">Data director (TBWA & WPP groups)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Make this pivotal movement at Isobar's team give me experience and invitation. First to lead Data & Strategies team at the same time as one intelligence team, second, led the Data team of the biggest brazilian ad agency of one of the most worldwide important communications group.</p>
                                </div>
                            </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2022</h4>
                                    <h4 class="subheading">MBA in Data Science & Analytics - USP</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">To prepare myself to my nex movement I need to add a new competence: data science and machine learning. I achived it at University of São Paulo, the most important brazilian college.</p>
                                </div>
                            </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021-2024</h4>
                                    <h4 class="subheading">Senior Data Scientist: deep dive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Time to a new challange: prove my self in a hands on scenario once more, developing ML soluctions and advance analysis in the big data and complex world of fraud prevention to finance service.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>2024-
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>