<!-- What I do Section -->
    <section id="what">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What I do</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!--
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        -->
                        <img class="img-circle img-responsive" src="img/about/microchip.png" alt="">
                    </span>
                    <h4 class="service-heading">Data Science & Machine Learning</h4>
                    <p class="text-muted">End-to-end model development, from model design to MLOps pipeline.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!--
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        -->
                        <img class="img-circle img-responsive" src="img/about/dashboard.png" alt="">
                    </span>
                    <h4 class="service-heading">Advanced Analytics</h4>
                    <p class="text-muted">Data Studies, descriptive analysis, reports and dashboards.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!--
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        -->
                        <img class="img-circle img-responsive" src="img/about/strategy.png" alt="">
                    </span>
                    <h4 class="service-heading">Ad Strategy</h4>
                    <p class="text-muted">Advertising strategy, from the concept to the performance analysis.</p>
                </div>
            </div>
        </div>
    </section>